<section class="about" id="about">
  <div class="about-img">
    <img src="assets/armored-vehicle_about.png" alt="" />
  </div>
  <div class="about-text">
    <h2>Briefly about armored cars</h2>
    <p>
      Наша мета - надати зручну та надійну платформу для обліку майна військових працівників.
       Чи ви військовослужбовець, ветеран чи активний резервіст, наш сайт створений, щоб вам допомогти.
    </p>
    <p>
      Завдяки нашому інтуїтивно зрозумілому інтерфейсу ви зможете легко додавати, оновлювати та відстежувати 
      ваше особисте майно. Ви зможете внести відомості про автомобілі, нерухомість, 
      фінансові інвестиції, а також інші цінності, які ви володієте. Ми забезпечимо захищений доступ до 
      вашої особистої інформації, гарантуючи конфіденційність і безпеку даних.
    </p>
    <p>
      Наша команда професіоналів в маркетингу та інформаційної безпеки працює над тим, 
      щоб забезпечити найсучасніші технології та найкращі практики для зберігання та захисту ваших активів. 
      Ми розуміємо важливість вашого майна та забезпечуємо його надійний облік.
    </p>
  </div>
</section>
